a {
    text-decoration: none;
    color: inherit;
}
*,
*::after,
*::before{
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: "Montserrat";
}
ul {
    list-style-type: none;
}
.header {
    position: sticky;
    top: 0;
    width: 100%;
    background: #0047AB; 
    backdrop-filter: blur(3px); 
    -webkit-backdrop-filter: blur(3px); 
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
    z-index: 1000;
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
    color: #fff;
    padding: 0 10px;
}

.container {
    width: 1025px;
    margin: 0 auto;
    padding: 0 25px;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1050px;
    margin: 0 auto;
    padding: 6px 0;
}
.header__logo-span {
    margin-top: 5px;
    font-weight: bold;
    display: block;
}
.header__logo-img {
    width: 42px;
    height: 42px;
    transition: transform 0.3s ease;
    margin-right: 7px;
}
.header__logo {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-family: "Poppins";
    font-weight: 100;
    position: relative;
}
.header__menu {
    display: flex;
    font-weight: 400;
}
.header__menu-item {
    padding: 0 10px;
    font-size: 16px;
}
.hover-menu__color {
    display: block;
    margin-top: 3px;
}
.header__menu-link {
    position: relative;
    padding-bottom: 4px;
    font-weight: bold;
    transition: transform 0.3s ease;
}


.header__menu-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px; 
    background-color: #fff;
    bottom: 0; 
    left: 0; 
    transform: scaleX(0); 
    transition: transform 0.4s ease; 
}

.header__menu-link:hover::before {
    transform: scaleX(1);
}

.header__menu-link:not(:hover)::before {
    transform: scaleX(0); 
    transition: transform 0.4s ease; 
}
.hover-menu__color:hover {
    color: #b1b1b1;
}

.header__logo:hover .header__menu-link::before {
    transform: scaleX(1);
}
.header__logo:hover .header__logo-img {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.header__logo:hover .header__menu-link {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.header__logo:hover{
    transform: scale(1.01);
    transition: transform 0.3s ease;
    font-weight: 300;

}


.select_color__btn-item {
    background-image: url(../images/light.svg);
    width: 23px;
    height: 23px;
    display: inline-block;
}
.select_color__btn-item:hover {
    background-image: url(../images/dark.svg);
    transition: all .3s;
} 
.select_lang__btn {
    background-image: url(../images/ua.svg);
    width: 23px;
    height: 23px;
    display: inline-block;
}
.select_lang__btn:hover {
    background-image: url(../images/en.svg);
    transition: all .3s;
} 

.main__inner {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.main__photo-img {
    margin-top: 80px;
    width: 241px;
    height: 233px;
}






.main__box {
    width: 600px;
}
.main__box-title {
    font-size: 24px;
    margin-bottom: 10px;
}
.main__box-subtitle {
    margin-bottom: 20px;
}

.main__box-text {
    font-size: 16px;
    line-height: 20px;
}

.main__box-links {
    display: flex;
    padding: 0;
    margin-bottom: 15px;
}
.main__box-items {
    margin: 0 15px;
}
.main__box-items:first-child {
    margin-left: 0;
}
.main__box-items:last-child {
    margin-right: 0;
}
.main__box-link {
    display: inline-block;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    transition: box-shadow 0.3s ease;
  }
  
  .main__box-link:hover {
    
box-shadow: 0 0 12px 11px rgba(0, 71, 171, 0.6);
  }

  .main__box-subtitle {
        font-family: monospace; 
        font-size: 24px; 
        white-space: nowrap;
    }
    
    .cursor {
        display: inline-block; 
        animation: blink 0.7s step-end infinite; 
    }
    
    @keyframes blink {
        0%, 100% {
            opacity: 0; 
        }
        50% {
            opacity: 1; 
        }
    }
    

    .main__btn-box {
        margin-top: 30px;
        display: flex;
        align-items: center;
        margin-bottom: 100px;
    }


 /* Общие стили для обеих кнопок */
.btn-download,
.btn-scroll {
    border-radius: 5px;
    padding: 17px 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    transition: all 0.3s ease;
}

/* Стиль для кнопки Scroll (синяя кнопка с белой прослойкой и синей внешней рамкой) */
.btn-scroll {
    background-color: #0047AB; /* Синяя кнопка */
    color: #fff;
    border: 3px solid #0047AB; /* Внешняя синяя рамка */
    position: relative;
    margin-right: 30px;
}

.btn-scroll::after {
    content: '';
    background-image: url(../images/btn_scroll-white.svg);
    padding-left: 25px;
    margin-left: 5px;
}


.btn-download::after {
    content: '';
    background-image: url(../images/btn_download-white.svg);
    padding-left: 24px;
    margin-left: 5px;
}
.btn-download:hover::after {
    content: '';
    background-image: url(../images/btn_download-blue.svg);
    padding-left: 24px;
    margin-left: 5px;
}

/* Добавляем белую рамку-прослойку внутри Scroll */
.btn-scroll::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    border: 3px solid #fff; /* Белая рамка-прослойка */
    border-radius: 5px;
    pointer-events: none;
}

/* При наведении Scroll превращается в Download */
.btn-scroll:hover {
    background-color: #fff;
    color: #0047AB;
}

/* Стиль для кнопки Download (белая кнопка с синей рамкой) */
.btn-download {
    background-color: #fff;
    color: #0047AB;
    border: 3px solid #0047AB; /* Синяя рамка */
    position: relative;
}

/* При наведении Download превращается в Scroll */
.btn-download:hover {
    background-color: #0047AB;
    color: #fff;
}

.btn-download:hover::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    border: 3px solid #fff; /* Белая прослойка при наведении */
    border-radius: 5px;
    pointer-events: none;
}


     /* Центровка кнопки на странице */
.scroll-button {
    display: flex;
    align-items: center;
    margin: 50px auto 0;
    width: 175px;
    justify-content: space-around;
    cursor: pointer;
    margin-bottom: 140px;
}


/* Стиль мышки */
.mouse {
    position: relative;
    width: 30px;
    height: 48px;
    border: 2px solid #0047AB;
    border-radius: 46%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10px;
    background-color: #fff;
    transition: background-color 0.3s;
}




.scroll-button:hover .mouse {
    box-shadow: 0 0 12px 11px rgba(0, 71, 171, 0.6);
    transition: ease .3s;
}

/* Стиль колесика */
.wheel {
    width: 5px;
    height: 10px;
    background-color: #0047AB;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* Анимация шарика */
/* Анимация шарика */
.ball {
    position: absolute;
    top: 25%;
    width: 5px;
    height: 5px;
    background-color: #0047AB;
    border-radius: 50%;
    animation: drop 2s infinite;
}

@keyframes drop {
    0% {
        transform: translateY(0);
        opacity: 1; /* Полная видимость в начале */
    }
    80% {
        transform: translateY(30px); /* Падение на 30px */
        opacity: 1; /* Полная видимость в середине */
    }
    100% {
        transform: translateY(30px); /* Положение перед исчезновением */
        opacity: 0; /* Исчезает в конце анимации */
    }
}



.scroll-text span {
    font-size: 14px;
    margin-right: 10px;
    font-weight: bold;
    color: #0047AB;
}

/* Длинная стрелка вниз */
/* Текст Scroll Down и стрелка */
.scroll-text {
    display: flex;
    align-items: center;
    position: relative;
}

/* Уменьшаем размер стрелки и выравниваем с текстом */
.arrow {
    width: 2px;
    height: 20px; /* Уменьшаем высоту стрелки */
    background-color: #0047AB;
    position: relative;
    transform: translateY(0px); /* Выравниваем по тексту */
}

.arrow::before {
    content: '';
    position: absolute;
    bottom: -5px; /* Положение стрелки относительно её основания */
    left: -3px;
    width: 8px;
    height: 8px;
    border-left: 2px solid #0047AB;
    border-bottom: 2px solid #0047AB;
    transform: rotate(45deg);
}

.arrow::after {
    content: '';
    position: absolute;
    top: 17px; /* Положение верхней стрелки */
    left: -3px;
    width: 8px;
    height: 8px;
    border-left: 2px solid #0047AB;
    border-bottom: 2px solid #0047AB;
    transform: rotate(-135deg);
}


.swiper, .swiper1, .swiper2, .swiper3  {
  margin-top: 50px;
  margin-left: 80px;
  position: relative;
  width: 250px;
  height: 60px;
  border-radius: 20px !important;
}

.swiper-slide {
  position: relative;
  user-select: none;
  border-radius: 20px;
}


.swiper-slide div {
 padding: 20px 15px;
  border-radius: 20px;
  background-color: #0047AB;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
    color: #fff;
    border: none !important;
}


.slide-white div{
  background: transparent;
  color: #0047AB ;
  border: 2px solid #0047AB !important;
}

@media (max-width: 930px) {


  .swiper {
    grid-area: slider;
  }

 

}

@media (max-width: 470px) {

  .swiper {
    width: 300px;
    height: 400px;
  }
}

.why_me {
      background-color: #f9f9f9;
}
.why_me-inner {
    display: flex;
}


.why_me__overlay {
    width: 350px;
    height: 100vh;
    position: absolute;
  }
  
  .card {
    backdrop-filter: blur(5px);
    min-width: 35vh;
    height: 55vh;
  }
  
  .glare-container {
    overflow: hidden;
    position: relative;
  }
  
  .glare {
    position: absolute;
    left: 100%;
    bottom: -50%;
    transform: rotateZ(35deg);
    pointer-events: none;
    filter: blur(4px);
  }

  .card {
    border: 3px solid #0047AB;
    border-radius: 5px;
    background: #fff;
    cursor:default;
    margin-bottom: 20px;
    width: 150px;
    height: 150px;
    margin-right: 20px;
  }

    .card:hover .card-text {
        color: #0047AB;
        transition: ease .3s;
    }
    .card:hover .card-descr {
        color: #0047AB;
        transition: ease .3s;
    }

    .title, .subtitle {
        text-align: center;
    }
    .title {
        font-weight: bold;
        font-size: 24px;
        color: #0047AB;
        margin-bottom: 10px;
    }
    .subtitle {
        font-size: 20px;

    }


  

  .card-descr {
    margin-top: 10px;
  }
  
  .card-img-1, .card-img-2, .card-img-3, .card-img-4, .card-img-5, .card-img-6 {
    position: relative;
  }
  .card-img-1:before,
  .card-img-2:before,
  .card-img-3:before,
  .card-img-4:before,
  .card-img-5:before,
  .card-img-6:before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 24px;
    height: 24px;
  }

  .card:hover .card-img-1:before,
  .card:hover .card-img-2:before,
  .card:hover .card-img-3:before,
  .card:hover .card-img-4:before,
  .card:hover .card-img-5:before,
  .card:hover .card-img-6:before {
    transition: all .3s;
  }

  .card-img-1:before {
    background: url(../images/education.svg);
  }
  .card:hover .card-img-1:before {
    background-image: url(../images/education-blue.svg);

  }
  .card-img-2:before {
    background: url(../images/experience.svg);
  }
  .card:hover .card-img-2:before {
    background-image: url(../images/experience-blue.svg);
  }
  .card-img-3:before {
    background: url(../images/technologies.svg);
  }

  .card:hover .card-img-3:before {
    background-image: url(../images/technologies-blue.svg);
  }
  .card-img-4:before {
    background: url(../images/projects.svg);
  }
  .card:hover .card-img-4:before {
    background-image: url(../images/projects-blue.svg);
  }
  .card-img-5:before {
    background: url(../images/customer-focus.svg);
  }
  .card:hover .card-img-5:before {
    background-image: url(../images/customer-focus-blue.svg);
  }
  .card-img-6:before {
    background: url(../images/communications.svg);
  }
  .card:hover .card-img-6:before {
    background-image: url(../images/communications-blue.svg);
  }
  .card-text {
    margin-top: 30px;
    font-weight: bold;
    font-size: 16px;
  }

  .card__inner {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
  }



  .why_me__subtitle {
    margin-bottom: 40px;
  }


@media (hover: none) {
    .header__menu-link::before {
        transform: scaleX(0);
    }

    .header__menu-link:hover::before {
        transform: scaleX(0);
    }
}


.technologies {
    padding: 50px 0;
}

.technologies__title {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
}

.technologies__subtitle {
    font-size: 18px;
    text-align: center;
    margin-bottom: 120px;
    color: #555;
}


.slider img {
  width: 33%; /* Adjust to make sure all 5 slides fit within the container */
  flex-shrink: 0;
  margin-right: 10px; /* Optional spacing between images */
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease;
}

.slider-slide {
    min-width: 200px; /* Ширина каждого слайда */
    margin-right: 20px; /* Отступ между слайдами */
}
.slider__title {
  font-weight: bold;
  text-align: left;
  font-size: 18px;
}

    .technologies__slider {
        overflow: hidden;
        position: relative;
        width: 975px; /* Ширина контейнера */
    }

    .slider {
        display: flex;
        transition: transform 0.5s ease;
    }

    .slide {
        flex: 0 0 auto; /* Это позволяет каждому слайду занимать только необходимую ширину */
        width: 103px; /* Установите ширину слайда в зависимости от желаемого количества слайдов на экране */
        margin: 0 10px; /* Отступы между слайдами */
    }
    .technologies__slider img {
      width: 100%; /* Задает ширину изображений */
      display: block; /* Убирает пробелы под изображениями */
  }
  .slider, #slider1, #slider2 {
    direction: rtl;
  }
  .slick-slide {
    margin: 0 10px; /* Пример отступа */
}

