a {
    text-decoration: none;
    color: inherit;
}
*,
*::after,
*::before{
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: "Montserrat";
}
ul {
    list-style-type: none;
}


/* Стили для темной темы */
body.dark-mode {
    background-color: #424242; /* Темный фон */
}




body.dark-mode .technologies__list a{
  color: #fff !important;
}
body.dark-mode .job-data {
  color: #fff;
}
body.dark-mode .job-header h3 {
  color: #fff;
}
body.dark-mode .job-details li {
  color: #fff;
}
body.dark-mode .slider__title {
  color: #fff;
}
body.dark-mode .why_me {
  background-color: #424242;
}

.header {
    position: sticky;
    top: 0;
    width: 100%;
    background: #0047AB; 
    backdrop-filter: blur(3px); 
    -webkit-backdrop-filter: blur(3px); 
    z-index: 1000;
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
    color: #fff;
    padding: 0 10px;
}

.container {
    width: 1025px;
    margin: 0 auto;
    padding: 0 25px;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1050px;
    margin: 0 auto;
    padding: 6px 0;
}
.header__logo-span {
    margin-top: 5px;
    font-weight: bold;
    display: block;
}
.header__logo-img {
    width: 42px;
    height: 42px;
    transition: transform 0.3s ease;
    margin-right: 7px;
}
.header__logo {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-family: "Poppins";
    font-weight: 100;
    position: relative;
}
.header__menu {
    display: flex;
    font-weight: 400;
}
.header__menu-item {
    padding: 0 10px;
    font-size: 16px;
}
.hover-menu__color {
    display: block;
    margin-top: 3px;
}
.header__menu-link {
    position: relative;
    padding-bottom: 4px;
    font-weight: bold;
    transition: transform 0.3s ease;
}


.header__menu-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px; 
    background-color: #fff;
    bottom: 0; 
    left: 0; 
    transform: scaleX(0); 
    transition: transform 0.4s ease; 
}

.header__menu-link:hover::before {
    transform: scaleX(1);
}

.header__menu-link:not(:hover)::before {
    transform: scaleX(0); 
    transition: transform 0.4s ease; 
}
.hover-menu__color:hover {
    color: #b1b1b1;
}

.header__logo:hover .header__menu-link::before {
    transform: scaleX(1);
}
.header__logo:hover .header__logo-img {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.header__logo:hover .header__menu-link {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.header__logo:hover{
    transform: scale(1.01);
    transition: transform 0.3s ease;
    font-weight: 300;

}
.select_lang__btn {
    background-image: url(../images/ua.svg);
    width: 23px;
    height: 23px;
    display: inline-block;
}
.select_lang__btn:hover {
    background-image: url(../images/en.svg);
    transition: all .3s;
} 

.main__inner {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.main__photo-img {
  margin-top: 80px;
  width: 330px;
  height: 283px;
  border: 4px solid #0047AB;
  border-radius: 100% 0% 120% 40% / 27% 65% 35% 74%;
  animation: change ease-in-out 5s infinite;
}

body.dark-mode .main__photo-img {
  border-color: #268aef
}



@keyframes change {
  0%   {border-radius: 61% 39% 60% 40% / 27% 65% 35% 73%;}
  25%  {border-radius: 30% 70% 45% 55% / 78% 30% 70% 22%;}
  50%  {border-radius: 11% 89% 22% 78% / 44% 33% 67% 56%;}
  75%  {border-radius: 38% 62% 70% 30% / 78% 74% 26% 22%;}
  100% {border-radius: 61% 39% 60% 40% / 27% 65% 35% 73%;}
}




.main__box {
    width: 600px;
}
.main__box-title {
    font-size: 24px;
    margin-bottom: 10px;
}
.main__box-subtitle {
    margin-bottom: 20px;
}

.main__box-text {
    font-size: 16px;
    line-height: 20px;
}

.main__box-links, .white-social {
    display: flex;
    padding: 0;
    margin-bottom: 15px;
}
.main__box-items {
    margin: 0 15px;
}
.main__box-items:first-child {
    margin-left: 0;
}
.main__box-items:last-child {
    margin-right: 0;
}
.main__box-link {
    display: inline-block;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    transition: box-shadow 0.3s ease;
  }
  
  .main__box-link:hover {
    
box-shadow: 0 0 12px 11px rgba(0, 71, 171, 0.6);
  }

  .main__box-subtitle {
        font-family: monospace; 
        font-size: 24px; 
        white-space: nowrap;
    }
    
    .cursor {
        display: inline-block; 
        animation: blink 0.7s step-end infinite; 
    }
    
    @keyframes blink {
        0%, 100% {
            opacity: 0; 
        }
        50% {
            opacity: 1; 
        }
    }
    

    .main__btn-box {
        margin-top: 30px;
        display: flex;
        align-items: center;
        margin-bottom: 100px;
    }


 /* Общие стили для обеих кнопок */
.btn-download,
.btn-scroll {
    border-radius: 5px;
    padding: 17px 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    transition: all 0.3s ease;
}

/* Стиль для кнопки Scroll (синяя кнопка с белой прослойкой и синей внешней рамкой) */
.btn-scroll {
    background-color: #0047AB; /* Синяя кнопка */
    color: #fff;
    border: 3px solid #0047AB; /* Внешняя синяя рамка */
    position: relative;
    margin-right: 30px;
}

.btn-scroll::after {
    content: '';
    background-image: url(../images/btn_scroll-white.svg);
    padding-left: 25px;
    margin-left: 5px;
}


.btn-download::after {
    content: '';
    background-image: url(../images/btn_download-white.svg);
    padding-left: 24px;
    margin-left: 5px;
}
.btn-download:hover::after {
    content: '';
    background-image: url(../images/btn_download-blue.svg);
    padding-left: 24px;
    margin-left: 5px;
}

/* Добавляем белую рамку-прослойку внутри Scroll */
.btn-scroll::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    border: 3px solid #fff; /* Белая рамка-прослойка */
    border-radius: 5px;
    pointer-events: none;
}

/* При наведении Scroll превращается в Download */
.btn-scroll:hover {
    background-color: #fff;
    color: #0047AB;
}

/* Стиль для кнопки Download (белая кнопка с синей рамкой) */
.btn-download {
    background-color: #fff;
    color: #0047AB;
    border: 3px solid #0047AB; /* Синяя рамка */
    position: relative;
}

/* При наведении Download превращается в Scroll */
.btn-download:hover {
    background-color: #0047AB;
    color: #fff;
}

.btn-download:hover::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    border: 3px solid #fff; /* Белая прослойка при наведении */
    border-radius: 5px;
    pointer-events: none;
}








body.dark-mode .main__box-title {
  color: #fff;
}
body.dark-mode .main__box-subtitle {
  color: #fff;
}
.main__box-subtitle {
  font-weight: 100;
}
body.dark-mode .main__box-text {
  color: #fff;
}









.swiper, .swiper1, .swiper2, .swiper3  {
  margin-top: 50px;
  margin-left: 80px;
  position: relative;
  width: 250px;
  height: 60px;
  border-radius: 20px !important;
}

.swiper-slide {
  position: relative;
  user-select: none;
  border-radius: 20px;
}


.swiper-slide div {
 padding: 20px 15px;
  border-radius: 20px;
  background-color: #0047AB;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
    color: #fff;
    border: none !important;
}


.slide-white div{
  background: transparent;
  color: #0047AB ;
  border: 2px solid #0047AB !important;
}

body.dark-mode .swiper-slide div{
  background: #268aef;
  border: none !important;
  color: #fff;
}
body.dark-mode .swiper-slide {
  border: none !important;
}

body.dark-mode .slide-white {
  border: none !important;
}
body.dark-mode .slide-white div{
  background: #268aef;
  color: #fff;
  border: none !important;
}

@media (max-width: 930px) {


  .swiper {
    grid-area: slider;
  }

 

}

@media (max-width: 470px) {

  .swiper {
    width: 300px;
    height: 400px;
  }
}

body.dark-mode .experience{
      background-color: #424242;
}

body.dark-mode .title {
  color: #E0E0E0;
}
body.dark-mode .subtitle {
  color: #F0F0F0;
}
body.dark-mode .why_me-img{
  color: #fff !important;
}
body.dark-mode .abouttype {
  color: #000;

}

body.dark-mode .card{
  background: #424242;
  color: #fff;
  border-color: #268aef;
}
body.dark-mode .card:hover {
  background-color: #fff;
  color: #000;
  
}
body.dark-mode .technologies, 
body.dark-mode .portfolio-section,
body.dark-mode .main  {
  background-color: #424242;
}


body.dark-mode .btn-scroll{
  background-color: #268aef;
  border-color: #268aef;
}
body.dark-mode .btn-scroll:hover{
  background-color: #fff;
}
body.dark-mode .btn-download {
  border-color: #268aef;
}
body.dark-mode .btn-download:hover {
  background-color: #268aef;
}
.main__box-links.white-social {
  display: none;
}

.main__box-links {
  display: flex;
}
body.dark-mode .main__box-links {
  display: none;
}
body.dark-mode .white-social {
  display: flex;
}

body.dark-mode .main__box-img img ::-ms-fill {
  color: #000;
}
.footer-list {
  display: flex;
}

.why_me {
      background-color: #f0f8ff;
      padding: 80px 0;
}
.why_me-inner {
    display: flex;
}


.why_me__overlay {
    width: 350px;
    height: 100vh;
    position: absolute;
  }
  
  .card {
    backdrop-filter: blur(5px);
    height: 55vh;
  }
  
  .glare-container {
    overflow: hidden;
    position: relative;
  }
  
  .glare {
    position: absolute;
    left: 100%;
    bottom: -50%;
    transform: rotateZ(35deg);
    pointer-events: none;
    filter: blur(4px);
  }

  .card {
    border: 3px solid #0047AB;
    border-radius: 5px;
    background: #fff;
    cursor:default;
    margin-bottom: 20px;
    width: 300px;
    height: 150px;
    margin-right: 20px;
  } 

  body.dark-mode .card{
    border-color: #268aef;
  }
  




    .card:hover .card-text {
        /* color: #0047AB; */
        transition: ease .3s;
    }
    .card:hover .card-descr {
        /* color: #0047AB; */
        transition: ease .3s;
    }

    .title, .subtitle {
        text-align: center;
    }
    .title {
        font-weight: bold;
        font-size: 24px;
        color: #0047AB;
        margin-bottom: 10px;
    }
    .subtitle {
        font-size: 18px;
        color: #555;
    }


  body.dark-mode .technologies__tabs button:hover {
    background-color: #268aef;
    color: #fff;
}
  body.dark-mode .tablinks {
    border-left-color: #268aef;
    border-right-color: #268aef;
    border-top-color: #268aef;
  }

  body.dark-mode button.active {
    background-color: #268aef;
  }
  body.dark-mode .slider__title {
    border-bottom-color: #268aef;
  }

  body.dark-mode .technologies__tabs:before {
    border-bottom-color: #268aef;
  }

  body.dark-mode .technologies__list-item::before {
    background-color: #268aef;
  }
  body.dark-mode .job::before {
    background-image: url(../images/dot-blue.svg);
  }

  .card-descr {
    margin-top: 10px;
  }
  
  .card-img-1, .card-img-2, .card-img-3, .card-img-4, .card-img-5, .card-img-6 {
    position: relative;
  }
  .card-img-1:before,
  .card-img-2:before,
  .card-img-3:before,
  .card-img-4:before,
  .card-img-5:before,
  .card-img-6:before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 24px;
    height: 24px;
  }

  .card:hover .card-img-1:before,
  .card:hover .card-img-2:before,
  .card:hover .card-img-3:before,
  .card:hover .card-img-4:before,
  .card:hover .card-img-5:before,
  .card:hover .card-img-6:before {
    transition: all .3s;
  }

  .card-img-1:before {
    background: url(../images/education.svg);
  }
  .card:hover .card-img-1:before {
    background-image: url(../images/education-blue.svg);

  }
  .card-img-2:before {
    background: url(../images/experience.svg);
  }
  .card:hover .card-img-2:before {
    background-image: url(../images/experience-blue.svg);
  }
  .card-img-3:before {
    background: url(../images/technologies.svg);
  }

  .card:hover .card-img-3:before {
    background-image: url(../images/technologies-blue.svg);
  }
  .card-img-4:before {
    background: url(../images/projects.svg);
  }
  .card:hover .card-img-4:before {
    background-image: url(../images/projects-blue.svg);
  }
  .card-img-5:before {
    background: url(../images/customer-focus.svg);
  }
  .card:hover .card-img-5:before {
    background-image: url(../images/customer-focus-blue.svg);
  }
  .card-img-6:before {
    background: url(../images/communications.svg);
  }
  .card:hover .card-img-6:before {
    background-image: url(../images/communications-blue.svg);
  }
  .card-text {
    margin-top: 30px;
    font-weight: bold;
    font-size: 16px;
  }

  .card__inner {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
  }



  .why_me__subtitle {
    margin-bottom: 40px;
  }


@media (hover: none) {
    .header__menu-link::before {
        transform: scaleX(0);
    }

    .header__menu-link:hover::before {
        transform: scaleX(0);
    }
}


.technologies {
    padding: 50px 0;
    background-color: #f0f8ff;
}

.technologies__title {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
}

.technologies__subtitle {
    font-size: 18px;
    text-align: center;
    margin-bottom: 120px;
    color: #555;
}


.slider img {
  flex-shrink: 0;/* Optional spacing between images */
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease;
}


.slider__title {
  font-weight: bold;
  text-align: left;
  font-size: 18px;
  padding-bottom: 10px;
  margin-bottom: 40px;
  border-bottom: 3px solid #0047AB;
}

    .technologies__slider {
        overflow: hidden;
        position: relative;
        width: 975px; /* Ширина контейнера */
    }

    .slider {
        display: flex;
        transition: transform 0.5s ease;
    }

    .slide {
        flex: 0 0 auto; /* Это позволяет каждому слайду занимать только необходимую ширину */
        width: 103px; /* Установите ширину слайда в зависимости от желаемого количества слайдов на экране */
         /* Отступы между слайдами */
    }
    #slider2 img {
      width: 56%; /* Задает ширину изображений */
      display: block; /* Убирает пробелы под изображениями */
  }
  .slider img {
    width: 56%;
  }
  #slider2 {
    direction: rtl;
  }
  #slider2 a, .slide a{
    display: flex;
    justify-content: center;
  }


  .tabcontent {
    position: relative; /* или relative, в зависимости от вашего макета */
    width: 100%; /* Убедитесь, что ширина соответствует контейнеру */
    z-index: 0; /* Начальное значение для неактивных табов */
    opacity: 0; /* Скрываем неактивные табы */
    transition: opacity 0.3s ease; /* Плавный переход */
}

.tabcontent.active {
    z-index: 1; /* Увеличиваем z-index для активного таба */
    opacity: 1; /* Делаем активный таб видимым */
}


.technologies__tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.tablinks {
  width: 50%;
  padding: 15px;
  font-size: 18px;
  border-left: 3px solid #0047AB;  /* Левая синяя граница */
  border-right: 3px solid #0047AB; /* Правая синяя граница */
  border-top: 3px solid #0047AB;   /* Верхняя синяя граница */
  border-bottom: none;             /* Убираем нижнюю границу */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #fff;
  color: #0047AB;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  text-align: center;
  transition: all 0.3s ease;
}

.tablinks::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: -1px; /* Небольшое перекрытие нижней части, чтобы исключить белую рамку снизу */
  border-left: 3px solid #fff;  /* Белая внутренняя граница слева */
  border-right: 3px solid #fff; /* Белая внутренняя граница справа */
  border-top: 3px solid #fff;   /* Белая внутренняя граница сверху */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  pointer-events: none;
  transition: all 0.3s ease;
}

/* Общая нижняя синяя граница для всех кнопок */


/* Активная вкладка и ховер */
.technologies__tabs button.active,
.technologies__tabs button:hover {
  background-color: #0047AB;
  color: #fff;
}

.technologies__tabs button.active::before,
.technologies__tabs button:hover::before {
  border-color: #fff;
}
.first_tab {
  margin-right: 5px;
}
.last_tab {
  margin-left: 5px;
}
.technologies__flex {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -635px;
}
#tab2 {
  height: 0;
}
.technologies__tabs {
  position: relative;
}
.technologies__tabs:before {
  content: '';
  position: absolute;
  bottom: -1px;
  border-bottom: 3px solid #0047AB;
  z-index: 10000;
  width: 100%;;
  height: 3px;
}

.technologies__list-item {
  position: relative;
  display: block; /* Чтобы элементы выровнялись по горизонтали */
  margin-bottom: 15px;
  padding: 6px 13px;
  color: #0047AB;
  overflow: hidden;
  cursor:default;
  text-align: center;
  color: #000;
}

.technologies__list-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #0047AB;
  transition: height 0.5s ease, top 0.5s ease; /* Плавный переход высоты и положения */
  z-index: -1;
}

.technologies__list-item:hover::before {
  height: 100%; 
  bottom: 0; 
}

.technologies__list-item:hover {
  color: #fff;
}

.slick {
  display: flex;
  justify-content: center;
}
.slick-slider img {
  width: 56%;
}
.slick-slider a {
  display: flex;
  align-items: center;
  justify-content: center;
}
#slider1, #slider2, .splide, .slick {
  margin-bottom: 50px;
}


.list-title {
  border: none !important;
  text-align: center;
}


.experience {
padding: 80px 0;

}


.experience__title-inner {
  position: relative;
}
.toggle-all {
  background: url(../images/arrow-toggle.svg);
  width: 44px;
  height: 44px;
  display: block;
  transition: all .3s;
  position: absolute;
  top: 0;left: 0;
  cursor: pointer;
}



.toggle-all.active {
  transform: rotate(180deg);
  background: url(../images/arrow-toggle-blue.svg);
}

.toggle-all:hover {
  background: url(../images/arrow-toggle-blue.svg);
}




.timeline {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin: 40px 0;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 100%;
  background-color: grey;

}

.job {
  width: 45%;
  padding: 20px;
  position: relative;
}

.job:nth-child(odd) {
  align-self: flex-start;
  margin-left: 52%; /* Справа от линии */
}

.job:nth-child(even) {
  align-self: flex-end;
  margin-right: 52%; /* Слева от линии */
}

.job::before {
  content: '';
  position: absolute;
  background-image: url(../images/dot.svg);
  top: 37px;
  width: 36px;
  height: 36px;
  /* background-color: #0047AB; */
  /* border-radius: 50%; */
}

.job:nth-child(odd)::before {
  left: -38px; /* Кружок справа от линии для нечетных блоков */
}

.job:nth-child(even)::before {
  right: -37px; /* Кружок слева от линии для четных блоков */
}

.job-header {
position: relative;
  cursor: pointer;
  color: #0047AB;
  font-size: 19px;
  margin-bottom: 10px;
}
.job-toggle {
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 10%;
  right: 25%;
  transform: translateY(-50%);
  transition: all .3s;
}
.job[data-expanded="true"] .job-toggle {
  transform: rotate(180deg);
  margin-top: -9px;
}


.job-details {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
}
.job-header p {
  color: grey;
  font-size: 16px;
  margin-bottom: 5px;
}
.job-data {
  font-size: 14px;
  font-weight: bold;
  color: grey;
  text-transform: uppercase;
}

.job-header h3 {
  margin-bottom: -10px;
}


.job-details ul {
  list-style-type: circle;
  padding-left: 20px;
  
}
.job-details li {
  margin-bottom: 5px;
  color: #343434;
}



#all{
	width:100%;
	height:100%;
	overflow-x:hidden;
	overflow-y: visible;
    position:relative;
}








#allcontent{
	margin:60px auto 0 auto;
    width:100%;
    max-width:90%;
    height:700px;
    position:relative;
	-webkit-animation: comein 1.5s ease-in-out;
	-moz-animation: comein 1.5s ease-in-out;
	animation: comein 1.5s ease-in-out;
}

.portfolio-section {
  position: relative;
  padding: 80px 0;
  background-color: #f0f8ff;
}

.portfolio{
    width:1140px;
    position:absolute;
    right:0;
    top:0;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
	-webkit-box-shadow:-2px 0 3px rgba(0,0,0,0.3);
	-moz-box-shadow:-2px 0 3px rgba(0,0,0,0.3);
	box-shadow:-2px 0 3px rgba(0,0,0,0.3);
}


.portfolio:nth-child(1) {
	left: 0px;
}
.portfolio:nth-child(1):hover {  
	-webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    transform: rotate(-2deg);
	left: 0;
}

.portfolio:nth-child(2) {
	left: 5%;
}
.portfolio:nth-child(2):hover {
	-webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    transform: rotate(-2deg);
	left: 2%;
}

.portfolio:nth-child(3) {  
	left: 10%;
}
.portfolio:nth-child(3):hover {  
	-webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    transform: rotate(-3deg);
	left: 7%;
}

.portfolio:nth-child(4) {  
	left: 15%;
}
.portfolio:nth-child(4):hover {  
	-webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    transform: rotate(-3deg);
	left: 12%;
}

.portfolio:nth-child(5) {  
	left: 20%;
}
.portfolio:nth-child(5):hover {  
	-webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    transform: rotate(-3deg);
	left: 17%;
}
.portfolio:nth-child(6) {  
	left: 25%;
}
.portfolio:nth-child(6):hover {  
	-webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    transform: rotate(-2deg);
	left: 22%;
}
.portfolio:nth-child(7) {  
	left: 30%;
}
.portfolio:nth-child(7):hover {  
	-webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    transform: rotate(-2deg);
	left: 27%;
}
.portfolio:nth-child(8) {  
	left: 35%;
}
.portfolio:nth-child(8):hover {  
	-webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    transform: rotate(-2deg);
	left: 32%;
}

.opened {  
	z-index: 1000;
  margin: 0 auto;
	left:0 !important;
	-webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-box-shadow:0 0 3px rgba(0,0,0,0.3);
	-moz-box-shadow:0 0 3px rgba(0,0,0,0.3);
	box-shadow:0 0 3px rgba(0,0,0,0.3);
	width:100%;
    max-width:1140px;
}

.opened img{
		z-index:5;
    left: 0% !important;
}

.ombra{
	position:absolute;
    bottom:20px;
    left:10px;
    width:90%;
	height:20px;
	-webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
	-moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
	box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
	-webkit-transform:rotate(-2deg);
	-moz-transform:rotate(-2deg);
	transform:rotate(-2deg);
	display:none;
	z-index:-1;
}

.ombra:after{
	display:block;
	content:"";
	position:absolute;
    bottom:-8px;
    right:-93px;
    width:90%;
	height:20px;
	-webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
	-moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
	box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
	-webkit-transform:rotate(4deg);
	-moz-transform:rotate(4deg);
	transform:rotate(4deg);
}


.txt{
    display:flex;
    justify-content: space-between;
	margin:-5px 0 0 0;
	padding: 20px;
	background: #f7f7f7;
}
.txt a {
  border-bottom: 2px solid #268aef
}




/*enter*/
@-webkit-keyframes comein {
	0% { opacity: 0; -webkit-transform: translateY(-3000px); }
	80% { opacity: 1; -webkit-transform: translateY(40px); }
	100% { -webkit-transform: translateY(0); }
}
@-moz-keyframes comein {
	0% { opacity: 0; -moz-transform: translateY(-3000px); }
	80% { opacity: 1; -moz-transform: translateY(40px); }
	100% { -moz-transform: translateY(0); }
}
@keyframes comein {
	0% { opacity: 0; transform: translateY(-3000px); }
	80% { opacity: 1; transform: translateY(40px); }
	100% { transform: translateY(0); }
}




.ima {
  font-family: 'Asap', sans-serif;
  font-size: 40px;
  text-transform: uppercase;
}

.body, .arm, .head, .eyes, .mug, .steam, .contactme, .arrow, .thoughts, .bubble, .formtoggle {
  background: url(../images/about-character.png) 0 0 no-repeat;
}

.character, .body, .arm, .head, .eyes, .mug, .steam, .contactme, .arrow, .thoughts, .bubble, .formtoggle {
  background-size: 1070px;
  position: absolute;
  display: block;
}

.contactcharacter {
  position: relative;
  display: block;
  overflow: hidden;
}
.contactcharacter .contentwrapper {
  width: 1280px;
  height: 750px;
  margin: 10px auto 0;
  position: relative;
  transition: height 1s ease-in-out;
}
.contactcharacter .character {
  width: 100%;
  height: 750px;
  margin: 0 auto;
  bottom: 0px;
  transition: height 1s ease-in-out;
}
.contactcharacter .body {
  width: 900px;
  height: 425px;
  bottom: -9px;
  left: 0;
  background-position: 0px 0px;
}
.contactcharacter .arm {
  width: 445px;
  height: 115px;
  bottom: -50px;
  left: 25px;
  background-position: -19px -1094px;
  transform: rotateZ(-58deg);
  transform-origin: 2% 50%;
  transition: all .5s ease-in-out;
}
.contactcharacter .arm.active {
  transform: rotateZ(0deg);
}
.contactcharacter .head {
  width: 235px;
  height: 337px;
  bottom: 294px;
  left: 250px;
  background-position: -506px -1093px;
  transform: rotateZ(-24deg);
  transform-origin: 50% 82%;
  transition: all 0.75s cubic-bezier(0.34, -0.305, 0, 1);
}
.contactcharacter .head.caffeine {
  animation: twitch 1s ease-in-out infinite;
}
.contactcharacter .head.active {
  transform: rotateZ(0deg);
}
.contactcharacter .eyes {
  width: 110px;
  height: 25px;
  top: 160px;
  left: 63px;
  background-position: -788px -1246px;
  animation: blink 10s steps(2) infinite;
}
.contactcharacter .caffeine .eyes {
  animation: blink-fast 1s steps(2) infinite;
}

.container-contact {
  width: 1280px;
  margin: 0 auto;
}
.contactcharacter .mug {
  width: 184px;
  height: 188px;
  bottom: -3px;
  right: 180px;
  background-position: -732px -857px;
}
.contactcharacter .mug .steam {
  animation: steam 3s ease-in-out infinite alternate;
  opacity: 0.5;
}
.contactcharacter .mug .steam:nth-child(1) {
  width: 34px;
  height: 158px;
  top: -140px;
  left: 30px;
  background-position: -537px -855px;
  animation-delay: 0s;
}
.contactcharacter .mug .steam:nth-child(2) {
  width: 37px;
  height: 194px;
  top: -187px;
  left: 80px;
  background-position: -594px -855px;
  animation-delay: 2s;
}
.contactcharacter .mug .steam:nth-child(3) {
  width: 38px;
  height: 187px;
  top: -170px;
  left: 131px;
  background-position: -658px -855px;
  animation-delay: 1s;
}
.contactcharacter .thoughts {
  width: 751px;
  height: 390px;
  top: 0px;
  right: 0px;
  background-position: -321px -459px;
  animation: bob 4s ease-in-out infinite alternate;
  transition: all 1s cubic-bezier(0.76, -0.265, 0.195, 1.26);
  transition-property: left, right, top, bottom;
}
.contactcharacter .thoughts .abouttype {
  text-align: center;
  padding: 90px 80px 60px 100px;
}
.contactcharacter .thoughts .abouttype #ima {
  font-size: 40px;
  text-transform: uppercase;
}
.contactcharacter .thoughts .abouttype p {
  font-size: 24px;
  line-height: 1.45em;
}
.contactcharacter .thoughts .abouttype p:nth-child(1) {
  margin-bottom: 0;
}
.contactcharacter .thoughts .abouttype p:nth-child(3) {
  margin-top: 0;
}
.contactcharacter .thoughts .imawhat {
  display: none;
}
.contactcharacter .thoughts .bubble {
  animation: bob 2s ease-in-out infinite alternate;
}
.contactcharacter .thoughts .bubble:nth-child(2) {
  width: 120px;
  height: 116px;
  top: 40px;
  left: -100px;
  background-position: -191px -472px;
  animation-delay: 0s;
  transition: all 1s cubic-bezier(0.76, -0.265, 0.195, 1.26);
  transition-property: left, right, top, bottom;
}
.contactcharacter .thoughts .bubble:nth-child(3) {
  width: 91px;
  height: 86px;
  top: 80px;
  left: -190px;
  background-position: -86px -472px;
  animation-delay: 2s;
  transition: all 1s cubic-bezier(0.76, -0.265, 0.195, 1.26);
  transition-property: left, right, top, bottom;
}
.contactcharacter .thoughts .bubble:nth-child(4) {
  width: 67px;
  height: 65px;
  top: 120px;
  left: -260px;
  background-position: 0px -474px;
  animation-delay: 1s;
  transition: all 1s cubic-bezier(0.76, -0.265, 0.195, 1.26);
  transition-property: left, right, top, bottom;
}
.contactcharacter .contactme {
  width: 207px;
  height: 196px;
  bottom: -3px;
  right: 309px;
  background-position: -300px -856px;
  cursor: pointer;
}
.contactcharacter .contactme .arrow {
  width: 263px;
  height: 146px;
  top: -95px;
  left: -23px;
  background-position: -17px -856px;
  animation: bob 1s ease-in-out infinite alternate;
  cursor: arrow;
}

.contactcharacter button {
  position: absolute;
  bottom: 0;
  right: 0;
}
.contactcharacter .contact {
  width: 750px;
  position: absolute;
  left: 50%;
  bottom: -40px;
  transform: translateY(360px);
  margin-left: -375px;
}
.contactcharacter .contact.inactive {
  animation: popout 0.5s forwards linear;
}
.contactcharacter .contact.active {
  animation: popin 0.35s forwards linear;
}
.contactcharacter .contact.active .closer {
  background: #333;
  border: 2px solid white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  top: -15px;
  left: -15px;
  width: 30px;
  height: 30px;
  position: absolute;
  cursor: pointer;
  border-radius: 15px;
}
.contactcharacter .contact.active .closer:after, .contactcharacter .contact.active .closer:before {
  content: " ";
  position: absolute;
  top: 11px;
  left: 4px;
  width: 18px;
  height: 4px;
  background: white;
}
.contactcharacter .contact.active .closer:after {
  transform: rotate(45deg);
}
.contactcharacter .contact.active .closer:before {
  transform: rotate(-45deg);
}

@keyframes blink {
  0% {
    background-position: -788px -1246px;
  }
  90% {
    background-position: -788px -1246px;
  }
  100% {
    background-position: -788px -1294px;
  }
}
@keyframes blink-fast {
  0% {
    background-position: -788px -1246px;
  }
  50% {
    background-position: -788px -1246px;
  }
  100% {
    background-position: -788px -1294px;
  }
}
@keyframes blink-fast-small {
  0% {
    background-position: -559px -884px;
  }
  50% {
    background-position: -559px -884px;
  }
  100% {
    background-position: -559px -920px;
  }
}
@keyframes blink-medium {
  0% {
    background-position: -559px -884px;
  }
  90% {
    background-position: -559px -884px;
  }
  100% {
    background-position: -559px -920px;
  }
}
@keyframes twitch {
  0% {
    transform: rotateZ(-24deg);
  }
  25% {
    transform: rotateZ(-25deg);
  }
  50% {
    transform: rotateZ(-23deg);
  }
  75% {
    transform: rotateZ(-25deg);
  }
  100% {
    transform: rotateZ(-24deg);
  }
}
@keyframes twitch-medium {
  0% {
    background-position: -578px -1px;
  }
  50% {
    background-position: -578px -1px;
  }
  100% {
    background-position: -720px -1px;
  }
}
@keyframes bob {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}
@keyframes steam {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes popin {
  0% {
    transform: translateY(350px) rotateZ(2.2deg);
  }
  38% {
    transform: translateY(100px) rotateZ(7deg);
  }
  52% {
    transform: translateY(25px) rotateZ(7deg);
  }
  71% {
    transform: translateY(-70px) rotateZ(-0.8deg);
  }
  86% {
    transform: translateY(-65px) rotateZ(-4.1deg);
  }
  90% {
    transform: translateY(-54px) rotateZ(-3.3deg);
  }
  100% {
    transform: translateY(-40px) rotateZ(0deg);
  }
}
@keyframes popout {
  0% {
    transform: translateY(-40px) rotateZ(0deg);
  }
  38% {
    transform: translateY(-54px) rotateZ(-3.3deg);
  }
  52% {
    transform: translateY(-65px) rotateZ(-4.1deg);
  }
  71% {
    transform: translateY(-70px) rotateZ(-0.8deg);
  }
  86% {
    transform: translateY(25px) rotateZ(7deg);
  }
  90% {
    transform: translateY(100px) rotateZ(7deg);
  }
  100% {
    transform: translateY(360px) rotateZ(0deg);
  }
}
@keyframes wiggle {
  0% {
    transform: translateY(-5px) rotateZ(5deg);
  }
  100% {
    transform: translateY(-5px) rotateZ(-5deg);
  }
}
@keyframes pulse-hover {
  0% {
    fill-opacity: 0.8;
  }
  100% {
    fill-opacity: 1;
  }
}


form {
  background: #0047AB;
  padding: 20px;
  transition: all 2s ease;
}

input[type="text"], input[type="email"], textarea {
  padding: 10px;
  margin-bottom: 10px;
  display: block;
  width: 100%;
  border: none;
  background: #fff;
  color: #000;
  letter-spacing: 1px;
}
input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
  background: #fff;
  outline: none;
}

input[type="text"], input[type="email"] {
  width: 100%;
}

.input {
  width: 100%;
}

textarea {
  height: 200px;
  resize: none;
}

.contact .input.error {
  border-left: 5px solid red;
  animation: borderColor 0.5s ease-in-out infinite alternate;
}

::-webkit-input-placeholder {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
}

input[type="submit"] {
  background: #fff;
  margin-top: 10px;
  border: none;
  padding: 6.66667px 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #000;
  position: relative;
}
input[type="submit"]:hover, input[type="submit"]:focus {
  outline: none;
  transform: translateY(-3px);
  box-shadow: 0 3px 0 #6b7423;
}
input[type="submit"]:active {
  transform: translateY(0);
  box-shadow: none;
  background: #7d8828;
}

@keyframes borderColor {
  0% {
    border-color: red;
  }
  100% {
    border-color: #990000;
  }
}

.contact__subtitle {
  margin-bottom: 180px;
}
.footer {
  background: #0047AB;
  color: #fff;
  font-size: 15px;
  padding: 15px 0;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__social .main__box-links {
  margin: 0;
}

.copy a {
  padding: 0 2px 5px;
  border-bottom: 2px solid #fff;
  transition: ease-in .3s;
}

.copy a:hover {
  background-color: #fff;
  color: #000;

}


:root {
	--hue: 223;
	--bg: hsl(var(--hue),10%,90%);
	--fg: hsl(var(--hue),10%,10%);
	--primary: hsl(var(--hue),90%,50%);
	--trans-dur: 0.3s;
	--trans-timing: cubic-bezier(0.76,0.05,0.24,0.95);
	--trans-timing-in: cubic-bezier(0.76,0.05,0.86,0.06);
	--trans-timing-out: cubic-bezier(0.05,0.76,0.06,0.86);
}



.switch {
	margin: auto;
	position: relative;
}
.switch__icon,
.switch__input {
	display: block;
}
.switch__icon {
	position: absolute;
	top: 0.375em;
	right: 0.375em;
	width: 0.75em;
	height: 0.75em;
	transition:
		opacity calc(var(--trans-dur) / 2),
		transform calc(var(--trans-dur) / 2);
}
.switch__icon polyline {
	transition: stroke-dashoffset calc(var(--trans-dur) / 2);
}
.switch__icon--light,
.switch__icon--light polyline {
	transition-delay: calc(var(--trans-dur) / 2);
	transition-timing-function: var(--trans-timing-out);
}
.switch__icon--dark {
	opacity: 0;
	transform: translateX(-0.75em) rotate(30deg) scale(0.75);
	transition-timing-function: var(--trans-timing-in);
}
.switch__input {
	background-color: hsl(210,90%,70%);
	border-radius: 0.75em;
	box-shadow:
		0 0 0 0.125em hsla(var(--hue),90%,50%,0),
		0.125em 0.125em 0.25em hsla(var(--hue),90%,10%,0.2);
	outline: transparent;
	position: relative;
	width: 3em;
	height: 1.5em;
	-webkit-appearance: none;
	appearance: none;
	-webkit-tap-highlight-color: transparent;
	transition:
		background-color var(--trans-dur) var(--trans-timing),
		box-shadow 0.15s linear;
}
.switch__input:focus-visible {
	box-shadow:
		0 0 0 0.125em hsl(var(--hue),90%,50%),
		0.125em 0.125em 0.25em hsla(var(--hue),90%,10%,0.2);
}
.switch__input:before,
.switch__input:after {
	content: "";
	display: block;
	position: absolute;
}
.switch__input:before {
	background-color: hsl(50,90%,50%);
	border-radius: inherit;
	mask-image: linear-gradient(120deg,hsl(0,0%,0%) 20%,hsla(0,0%,0%,0) 80%);
	-webkit-mask-image: linear-gradient(120deg,hsl(0,0%,0%) 20%,hsla(0,0%,0%,0) 80%);
	inset: 0;
	transition: background-color var(--trans-dur) var(--trans-timing);
}
.switch__input:after {
	background-color: hsl(0,0%,100%);
	border-radius: 50%;
	box-shadow: 0.05em 0.05em 0.05em hsla(var(--hue),90%,10%,0.1);
	top: 0.125em;
	left: 0.125em;
	width: 1.25em;
	height: 1.25em;
	transition:
		background-color var(--trans-dur) var(--trans-timing),
		transform var(--trans-dur) var(--trans-timing);
	z-index: 1;
}
.switch__input:checked {
	background-color: hsl(290,90%,40%);
}
.switch__input:checked:before {
	background-color: hsl(220,90%,40%);
}
.switch__input:checked:after {
	background-color: hsl(0,0%,0%);
	transform: translateX(1.5em);
}
.switch__input:checked ~ .switch__icon--light,
.switch__input:checked ~ .switch__icon--light polyline {
	transition-delay: 0s;
	transition-timing-function: var(--trans-timing-in);
}
.switch__input:checked ~ .switch__icon--light {
	opacity: 0;
	transform: translateX(-0.75em) rotate(-30deg) scale(0.75);
}
.switch__input:checked ~ .switch__icon--light polyline {
	stroke-dashoffset: 1.5;
}
.switch__input:checked ~ .switch__icon--dark {
	opacity: 1;
	transform: translateX(-1.5em);
	transition-delay: calc(var(--trans-dur) / 2);
	transition-timing-function: var(--trans-timing-out);
}
.switch__sr {
	overflow: hidden;
	position: absolute;
	width: 1px;
	height: 1px;
}

.contact-section {
  padding: 80px 0 0 0;
}


.rewards {
  padding: 80px 0;
}

.shadow-effect {
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
border:1px solid #ECECEC;
  box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);
}
#customers-testimonials .shadow-effect p {
  font-family: inherit;
  font-size: 17px;
  line-height: 1.5;
  margin: 0 0 17px 0;
  font-weight: 300;
}
.testimonial-name {
  margin: 20px auto 0;
  display: table;
  width: auto;
  background: #3190E7;
  padding: 9px 35px;
  border-radius: 12px;
  text-align: center;
  color: #fff;
  box-shadow: 0 9px 18px rgba(0,0,0,0.12), 0 5px 7px rgba(0,0,0,0.05);
}
#customers-testimonials .item {
  text-align: center;
  padding: 50px;
  margin-bottom:80px;
  opacity: .2;
  -webkit-transform: scale3d(0.8, 0.8, 1);
  transform: scale3d(0.8, 0.8, 1);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#customers-testimonials .owl-item.active.center .item {
  opacity: 1;
  -webkit-transform: scale3d(1.0, 1.0, 1);
  transform: scale3d(1.0, 1.0, 1);
}
.owl-carousel .owl-item img {
  transform-style: preserve-3d;
  max-width: 90px;
  margin: 0 auto 17px;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
  display: none;
}
#customers-testimonials.owl-carousel .owl-dots{
display: none;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot{
display: none;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
  background: #3190E7;
  display: inline-block;
  height: 20px;
  margin: 0 2px 5px;
  transform: translate3d(0px, -50%, 0px) scale(0.3);
  transform-origin: 50% 50% 0;
  transition: all 250ms ease-out 0s;
  width: 20px;
}
#customers-testimonials .item {
  padding: 0;
  padding-bottom: 25px;
  margin: 0;
  margin-top: 80px;
}




/* Волна */
.main__bg {
  position: sticky; /* Волна будет двигаться вместе с хедером */
  top: 12%; /* Привязка волны под хедером */
  left: 0;
  width: 100%;
  height: 10vh;
  z-index: 999;
  transform: scaleY(-1); /* Переворачиваем волну */
}

.main__bg g use {
  animation: anime cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.main__bg g use:nth-child(1) {
  fill: rgba(0, 71, 171, -0.1);
  animation-delay: -2s;
  animation-duration: 7s;
}

.main__bg g use:nth-child(2) {
  fill: rgba(35, 96, 178, -0.5);
  animation-delay: -3s;
  animation-duration: 10s;
}

.main__bg g use:nth-child(3) {
  fill: rgba(0, 71, 171, -0.9);
  animation-delay: -4s;
  animation-duration: 13s;
}

/* Синхронизация цвета волны с хедером */
.main__bg g use:nth-child(4) {
  fill: #0047AB; /* Начальный цвет */
  animation-delay: -5s;
  animation-duration: 20s;
  transition: fill 0.3s ease;
}

/* Анимация волны */
@keyframes anime {
  0% {
      transform: translate3d(-90px, 0, 0);
  }

  100% {
      transform: translate3d(85px, 0, 0);
  }
}

/* Прозрачность волны при скролле */





@media screen and ( max-width: 1140px) {
  .contactcharacter .character {
    width: 88%;
  }
  .contactcharacter .contentwrapper {
    width: 1140px;
  }
}